<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhiteAngels Akıllı Metin Analiz Platformu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="#home">Ana Sayfa</a>
        <a href="#about">Hakkında</a>
        <button onclick="toggleMode()">Gece/Gündüz Modu</button>
    </div>
    <h1>WhiteAngels Platformu</h1>
    <div class="container">
        <div id="section1" class="section">
            <h2>Metin Analizi</h2>
            <textarea id="text-analysis" placeholder="Metni buraya yazın..." onclick="dimSections(1)"></textarea>
            <button onclick="analyzeText()">Analiz Et</button>
        </div>

        <div id="section2" class="section">
            <h2>Metin Sınıflandırma</h2>
            <textarea id="text-classification" placeholder="Metni buraya yazın..." onclick="dimSections(2)"></textarea>
            <button onclick="classifyText()">Sınıflandır</button>
        </div>

        <div id="section3" class="section">
            <h2>Duygu Analizi</h2>
            <textarea id="sentiment-analysis" placeholder="Metni buraya yazın..." onclick="dimSections(3)"></textarea>
            <button onclick="analyzeSentiment()">Duygu Analiz Et</button>
        </div>

        <div id="section4" class="section">
            <h2>Metin Anlama ve Soru-Cevap</h2>
            <textarea id="qa-context" placeholder="Metni buraya yazın..." onclick="dimSections(4)"></textarea>
            <input type="text" id="qa-question" placeholder="Soruyu buraya yazın...">
            <button onclick="answerQuestion()">Soru-Cevap</button>
        </div>
    </div>
    <div class="footer">
        Tasarım Takımımıza Aittir
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
